<?xml version="1.0" encoding="utf-8"?>

<!-- Android Manifest for G+J e|MS Android SDK library v2.0 (Nov 2015) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.guj.ems.mobile.sdk"
    android:versionCode="12"
    android:versionName="2.0.2" >

    <!-- The G+J e|MS Android SDK requires Android 2.2 (FROYO) or later and has been tested with Android 6.0 Marshmallow -->
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="23"
        tools:overrideLibrary="com.google.android.gms"/>/>
    
    <!-- *** Required permissions *** -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- *** Recommended permissions *** -->
    <!-- USE FINE_LOCATION FOR GPS ENABLED APPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- *** Optional permissions for special ads *** -->

    <!-- This enables vibrating ads -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->

    <!-- Enables click-to-calendar ads -->
    <!-- <uses-permission android:name="android.permission.READ_CALENDAR" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR" /> -->

    <!-- Enables sending text messages from ads (user input only) -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->

    <!-- Enables triggering phone calls from ads (user input only) -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->

    <!-- Enables saving images and screenshots from ads -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <!-- Enables camera access from ads -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->

    <application>
        
        <!-- Google Ad SDK -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- Receiver to check whether an interstitial can be displayed -->
        <receiver android:name="de.guj.ems.mobile.sdk.controllers.InterstitialSwitchReceiver" >
        </receiver>
        
    </application>

</manifest>